/* referente ao rodapé do blog*/

.footer {
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    // posiciona o footer na parte de baixo da tela
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  
    &__logo {
      max-width: 100px;
    }
  
    &_txt {
      margin: auto;
      @include fontSize(14px);
    }
  }